{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog App{% endblock %}</title>
    {% tailwind_css %}
</head>
<body>
    <header>
        <nav class="bg-gray-800 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <div class="text-white text-2xl font-semibold">
                    <a href="/">blogs.com</a>
                </div>
                <div class="space-x-4">
                    <a href="{% url 'post_list' %}" class="text-gray-300 hover:text-white">HOME</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="text-gray-300 hover:text-white">PROFILE</a>
                        <a href="{% url 'create_post' %}" class="text-gray-300 hover:text-white">CREATE POST</a>
                        <button id="logoutBtn" class="text-gray-300 hover:text-white">LOGOUT</button>
                    {% else %}
                        <a href="{% url 'login' %}" class="text-gray-300 hover:text-white">LOGIN</a>
                        <a href="{% url 'register' %}" class="text-gray-300 hover:text-white">REGISTER</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main class="max-w-5xl mx-auto p-6">
    
        <div class="mt-8">
            {% block content %}{% endblock %}
        </div>

        <div id="logoutModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
            <div class="bg-white p-6 rounded-lg shadow-lg text-center">
                <h2 class="text-xl font-bold mb-4">Logout Confirmation</h2>
                <p>Are you sure you want to log out?</p>
                <div class="mt-6 flex justify-center space-x-4">
                    <button id="confirmLogoutBtn" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600">Yes</button>
                    <button id="cancelLogoutBtn" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600">Cancel</button>
                </div>
            </div>
        </div>
    </main>

    <script>
        const logoutBtn = document.getElementById('logoutBtn');
        const logoutModal = document.getElementById('logoutModal');
        const confirmLogoutBtn = document.getElementById('confirmLogoutBtn');
        const cancelLogoutBtn = document.getElementById('cancelLogoutBtn');
    
       logoutBtn.addEventListener('click', function() {
        logoutModal.classList.remove('hidden');
       })

       cancelLogoutBtn.addEventListener('click', function() {
        logoutModal.classList.add('hidden');
       })

       confirmLogoutBtn.addEventListener('click', function() {
        window.location.href = '{% url "logout" %}';
       })
    </script>
    
    
</body>
</html>
